#logo{
    height: 100px;
    width: 100vh;
}
#navbar {
    background-color: #217bd4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('https://source.unsplash.com/1600x600/?computer,laboratory') center/cover no-repeat;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
}

.hero .btn {
  font-size: 1.1rem;
  padding: 10px 30px;
}
