{% extends 'SARC/base.html' %}
{% load static %}
{% block content %}

 <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <h1 class="display-4 fst-italic">Sistema de Agendamento e Reservas de Computadores</h1>
      <p class="lead">Se estiver precisando reservar um computador do nosso campus para algum trabalho, clique no botão abaixo para ir fazer sua reserva agora <br>
        <a href="{% url 'reservas' %}" class="btn btn-primary btn-lg mt-3">Reservar Aqui</a></p>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
