{% extends 'SARC/base.html' %}
{% load static %}
{% block content %}

    <h1 class="hero mb-4 text-center">Selecione uma Sala</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for sala in salas %}
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">{{ sala.nome }}</h5>
            <p class="card-text">Capacidade: {{ sala.capacidade }} alunos</p>
            <a href="{% url 'reservar_sala' sala.id_sala %}" class="btn btn-primary">Selecionar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}